@charset "UTF-8";

@import "//fonts.googleapis.com/css?family=Noto+Sans";
*,body { font-family: '맑은 고딕', 'Malgun Gothic', 'Noto Sans', sans-serif !important; }

body { font-size: 13px; }


ul { list-style:none; }
ul li {  display:inline; }
ul li a { text-decoration:none; color:black; }
ul li a:hover { text-decoration:underline; }

#leftMenu {
    padding-top: 40px;
    padding-left: 40px;    
    width: 380px;
    height: 100%;
    position: fixed;
    z-index: 99;
    border-right: 1px solid #000;
    vertical-align: top;
}

#container {
	position: relative;
    vertical-align: top;
    margin-left: 500px;
}

#skipNavigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
}

#wrap {
	position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
}

a { text-decoration: none; }
nav { display:table-cell; }


.img-align {
    padding-left: 10px;
}		

{   
	padding-left: 420px;
    margin-left: auto; margin-right: auto;
   }	
			