@charset "UTF-8";

@import "//fonts.googleapis.com/css?family=Noto+Sans";
*,body { font-family: '맑은 고딕', 'Malgun Gothic', 'Noto Sans', sans-serif !important; }

body { font-size: 13px; }


ul { list-style:none; }
ul li {  display:inline; }
ul li a { text-decoration:none; color:black; }
ul li a:hover { text-decoration:underline; }

#leftMenu {
    padding-top: 40px;
    padding-left: 40px;    
    width: 380px;
    height: 100%;
    position: fixed;
    z-index: 99;
    border-right: 1px solid #000;
    vertical-align: top;
}

#container {
	position: relative;
    vertical-align: top;
    margin-left: 500px;
}

#skipNavigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 0;
}

#wrap {
	position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
}

.footer {
	width: 100%;
    font-family: Arial,malgun gothic,맑은고딕,NanumGothic,돋움;
    font-size: 10px;
    letter-spacing: 1pt;
    line-height: 18px;
    text-align: center;
    color: #999;
    margin: 0 auto;
    margin-top: 50px;
}

#footer .footer {
    width: 95%;
    margin: 0 auto;
    border-top: 1px solid #ccc;
    padding: 50px 0;
}

#footer .footer .left {
    float: left;
}

#footer .footer .left li {
    display: inline-block;
    vertical-align: top;
    padding-right: 40px;
    text-align: left;
}

#footer .footer .left li.last {
    padding-right: 0px;
}

#footer .footer .right {
    float: right;
    text-align: left;
    vertical-align: top;
}


a { text-decoration: none; }
nav { display:table-cell; }


.img-align {
    padding-left: 10px;
}		

{   
	padding-left: 420px;
    margin-left: auto; margin-right: auto;
   }	
			