@charset "UTF-8";


@import "//fonts.googleapis.com/css?family=Noto+Sans";
*,body { font-family: '맑은 고딕', 'Malgun Gothic', 'Noto Sans', sans-serif !important; }

body { font-size: 13px; }

#leftMenu {
    padding-top: 40px;
    padding-left: 40px;    
    width: 380px;
    height: 100%;
    position: fixed;
    z-index: 99;
    border-right: 1px solid #000;
    vertical-align: top;
}

#container {
	position: relative;
    vertical-align: top;
    margin-left: 500px;
    padding-top: 40px;
    padding-right: 100px;
    
}

.xans-board-read .boardView {
    position: relative;
    width: 95%;
    margin: 0 auto;
    padding: 20px 0;
}

#wrap {
	position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    margin: 0 auto;
}



ul { list-style:none; }
ul li {  display:inline; }
ul li a { text-decoration:none; color:black; }
ul li a:hover { text-decoration:underline; }

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    font-weight: bold;
    text-align: -internal-center;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    text-align: center;
}

table {
	width: 100%;
    border: 1px solid #d7d5d5;
    color: #353535;
    font-size: 12px;
    line-height: 140%;
    border-collapse: collapse;
}

.title {
	padding-left: 420px;
}

.board {
	position: relative;
    display: block;
    width: 100%;
    margin: 30px auto;
    margin-top: 30px;
    margin-right: auto;
    margin-bottom: 30px;
    margin-left: auto;
    border: 1px solid #CCC;
    border-top-color: rgb(204, 204, 204);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(204, 204, 204);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(204, 204, 204);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(204, 204, 204);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;	
}

.writer {
    display: block;
    line-height: 18px;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-right: 40px;
    
}
.titlee {
    display: block;
    line-height: 18px;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
    margin-right: 40px;
    
   	font-style: bold;
}

.content {	
    border-bottom: 0px;
    padding: 30px 2px;
    line-height: 180%;
}

/* li {
    display: block;
    line-height: 18px;
    border-bottom: 1px solid #ccc;
    padding: 8px 0;
} */
